// Button
.fm-button {
    border: 0;
    background-color: $fm_active_color;
    padding: $fm_input_padding_vertical $fm_input_padding_horizontal;
    box-shadow: none;
    display: inline-block;
    color: $fm_btn_color;
    border-radius: $fm_radius;
    cursor: pointer;
    outline: none;

    @include transition(all 0.15s ease-in-out);

    border: $fm_input_border_w solid $fm_active_color;
    font-size: $fm_font_size;
    line-height: $fm_line_height;

    @include box-sizing(border-box);

    &:hover {
        border-color: darken($fm_active_color, 10%);
        background-color: darken($fm_active_color, 10%);
    }

    &.fm-button-clean {
        background-color: transparent;
        border-color: transparent;
        color: $fm_active_color;
        &:hover {
            background-color: transparent;
            border-color: transparent;
            color: darken($fm_active_color, 10%);
        }
    }

    &.fm-button-outline {
        border-color: $fm_active_color;
        background-color: transparent;
        color: $fm_active_color;
        &:hover {
            border-color: $fm_active_color;
            background-color: $fm_active_color;
            color: #FFF;
        }
    }
}

// input{
input {
    &.fm-button {
        &[type="submit"]{
            height: $fm_input_height;
        }
    }
}