// Checbox
$fm_checkbox_h: $fm_input_height / 2;
$fm_checkbox_border_w: $fm_input_border_w;

.fm-checkbox {
    display: none;

    &:checked {
        & + .fm-placeholder-checkbox {
            &:before {
                opacity: 1;
                visibility: visible;

                @include transform(scale(1));
            }
        }
    }
}

.fm-placeholder-checkbox {
    padding-left: #{$fm_checkbox_h * 1.5};
    cursor: pointer;
    @include box-sizing(border-box);
    &:before {
        position: absolute;
        content: '\2713';
        left: 0;
        top: 50%;
        text-align: center;
        width: $fm_checkbox_h;
        height: $fm_checkbox_h;
        margin-top: #{-1 * ($fm_checkbox_h + $fm_checkbox_border_w) / 2};
        line-height: $fm_checkbox_h;
        border: $fm_checkbox_border_w solid transparent;
        margin-left: 0;
        visibility: hidden;
        z-index: 2;
        opacity: 0;
        color: $fm_active_color;

        @include transform(scale(0));

        @include transition(all 0.2s ease-in-out);
    }
    //  CSS checkmark
    // &:before {
    //     position: absolute;
    //     content: '';
    //     left: 0;
    //     top: 50%;
    //     width: 6px;
    //     height: 12px;
    //     border: solid $fm_active_color;
    //     border-width: 0 3px 3px 0;
    //     margin-left: 7px;
    //     margin-top: -9px;
    //     visibility: hidden;
    //     z-index: 2;
    //     opacity: 0;
    //     color: $fm_active_color;

    //     @include transform(scale(0) rotate(45deg));

    //     @include transition(all 0.2s ease-in-out);
    // }

    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        width: #{$fm_checkbox_h};
        height: #{$fm_checkbox_h};
        margin-top: #{-1 * ($fm_checkbox_h + $fm_checkbox_border_w) / 2};
        border: $fm_checkbox_border_w solid $fm_border_color;
        border-radius: #{$fm_radius / 2};
        background-color: $fm_input_bg;
        z-index: 1;
    }
}