// Forms
* {
    &:after,
    &:before {
        @include box-sizing(border-box);
    }
}

.fm-form-control {
    position: relative;
    margin-top: $fm_placeholder_height * 1.4;
    margin-bottom: $fm_placeholder_height * 1.4;
}