@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);

body {
    background-color: #e6e6e6;
    font-family: 'PT Sans', sans-serif;
    color: #2c3e50;
}

.fm-form-control {
    position: relative;
    margin-bottom: $fm_placeholder_height + 5px;
    
    .fm-input {
        display: inline-block;
        border: 2px solid $fm_border_color;
        border-radius: 6px;
        padding: $fm_input_padding_vertical $fm_input_padding_horizontal;
        box-shadow: none;
        @include box-sizing(border-box);
        background-color: $fm_input_bg;
        &:invalid {
            border-color: #c0392b;
        }

        &:focus {
            border-color: $fm_active_color;

            & + .fm-placeholder {
                top: 100%;
                margin-top: 0;
                font-size: 80%;
            }
        }
    }

    .fm-placeholder {
        position: absolute;
        z-index: 1;
        opacity: 0.5;
        left: 0;
        top: 50%;
        line-height: $fm_placeholder_height;
        margin: #{-$fm_placeholder_height / 2} $fm_input_padding_horizontal;
        transition: all 0.2s ease-in-out;
    }
}


// General
.container {
    width: 350px;
    margin: 0 auto;
}

.full-width {
    width: 100%;
    display: block;
}