// Helpers
.fm-container {
    width: 320px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @include box-sizing(border-box);
}

.fm-full-width {
    display: block;
    width: 100%;
}

.fm-inline {
    display: inline-block;
}