// Icons
// Postions
.fm-ico {
    position: absolute;
    right: 0;
    top: 0;
    line-height: $fm_placeholder_height;
    margin: #{$fm_placeholder_height / 2} $fm_input_padding_horizontal;
    pointer-events: none;
    z-index: 1;
    opacity: 0.8;

    @include transition(opacity 0.1s ease-in-out);
}

.fm-input {
    &:focus ~ .fm-ico {
        opacity: 0.2;
    }
}