// Messanges
.fm-msg {
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    left: 0;
    top: 100%;
    line-height: $fm_placeholder_height;
    margin: 0 $fm_input_padding_horizontal;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    @include transition(all 0.2s ease-in-out);
    font-size: 80%;
}
.fm-input {
    &:focus {
        & ~ .fm-msg {
            opacity: 1;
            visibility: visible;
        }
    }

    // Errors
    &.fm-warning {
        & ~ .fm-msg {
            color: $fm_color_warning;
        }
    }

    &.fm-invalid {
        & ~ .fm-msg {
            color: $fm_color_error;
        }
    }

    &.fm-valid {
        & ~ .fm-msg {
            color: $fm_color_ok;
        }
    }
}

