// Radio
$fm_radio_h: $fm_input_height / 2;
$fm_radio_circle_active_h: $fm_radio_h * 0.6;
$fm_radio_border_w: $fm_input_border_w;

.fm-radio-wrap {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.fm-radio {
    display: none;

    &:checked {
        & + .fm-placeholder-radio {
            &:before {
                opacity: 1;
                visibility: visible;

                @include transform(scale(1));
            }
        }
    }
}

.fm-placeholder-radio {
    padding-left: #{$fm_radio_h * 1.5};
    cursor: pointer;

    // Active state
    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        width: #{$fm_radio_circle_active_h};
        height: #{$fm_radio_circle_active_h};
        margin-top: #{-1 * ($fm_radio_circle_active_h - $fm_radio_border_w) / 2};
        margin-left: #{($fm_radio_h - $fm_radio_circle_active_h) / 2 + $fm_radio_border_w};
        border-radius: #{$fm_radius / 2};
        border-radius: 50%;
        background-color: $fm_active_color;

        @include transform(scale(0));

        @include transition(all 0.2s ease-in-out);

        z-index: 2;
    }

    // Radio cirle
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        width: #{$fm_radio_h};
        height: #{$fm_radio_h};
        margin-top: #{-1 * ($fm_radio_h + $fm_radio_border_w) / 2};
        border: $fm_radio_border_w solid $fm_border_color;
        border-radius: #{$fm_radius / 2};
        border-radius: 50%;
        z-index: 1;
        background-color: $fm_input_bg;
    }
}