// Radio
$fm_radio_h: $fm_input_height / 2;
$fm_radio_circle_active_h: $fm_radio_h * 0.6;
$fm_radio_border_w: $fm_input_border_w;

.fm-radio-wrap {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.fm-radio {
    display: none;

    &:checked {
        & + .fm-placeholder-radio {
            &:before {
                opacity: 1;
                visibility: visible;

                @include transform(scale(1));
            }
        }
    }

    // Disabled
    &[disabled] {
        & + .fm-placeholder-radio {
            cursor: not-allowed;

            &:before {
                background-color: $fm_input_disabled_border_color;
            }
            &:after {
                background-color: $fm_input_disabled_bg;
                border-color: $fm_input_disabled_border_color;
            }
        }
    }
}

.fm-placeholder-radio {
    padding-left: ceil($fm_radio_h * 1.5);
    cursor: pointer;
    display: inline-block;

    // Active state
    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        width: #{$fm_radio_circle_active_h};
        height: #{$fm_radio_circle_active_h};
        margin-top: ceil(-1 * $fm_radio_circle_active_h / 2);
        margin-left: ceil(($fm_radio_h - $fm_radio_circle_active_h) / 2);
        border-radius: #{$fm_radius / 2};
        border-radius: 50%;
        background-color: $fm_active_color;

        @include transform(scale(0));

        @include transition(all #{$fm_anim_time}s ease-in-out);

        z-index: 2;
    }

    // Radio cirle
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        width: #{$fm_radio_h};
        height: #{$fm_radio_h};
        margin-top: ceil(-1 * $fm_radio_h / 2);
        border: $fm_radio_border_w solid $fm_border_color;
        border-radius: ceil($fm_radius / 2);
        border-radius: 50%;
        z-index: 1;
        background-color: $fm_input_bg;
    }
}