// Select
$fm_select_arrow_h: 6px;

.fm-select-wrap {
    position: relative;
    overflow: hidden;
    border-radius: $fm_radius;
    overflow: hidden;
    background-color: $fm_input_bg;
    display: block;

    &:before {
        position: absolute;
        right: 0;
        top: 50%;
        width: 10%;
        pointer-events: none;
        content: '';
        bottom: 0;
        z-index: 2;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $fm_select_arrow_h $fm_select_arrow_h 0 $fm_select_arrow_h;
        border-color: $fm_active_color transparent transparent transparent;
        margin: #{-1 * $fm_select_arrow_h / 2} #{$fm_input_padding_horizontal};

        @include transition(all 0.2s ease-in-out);
    }

    &:after {
        position: absolute;
        right: 0;
        top: 0;
        width: #{$fm_input_padding_horizontal * 2};
        pointer-events: none;
        border-radius: 0 $fm_radius $fm_radius 0;
        content: '';
        bottom: 0;
        z-index: 1;
        background-color: $fm_input_bg;
        margin: $fm_input_border_w;
    }
}

.fm-select {
    border-radius: $fm_radius;
    padding: $fm_input_padding_vertical #{$fm_input_padding_horizontal * 2} $fm_input_padding_vertical $fm_input_padding_horizontal;
    box-shadow: none;
    border: 0;
    outline: none;
    border: $fm_input_border_w solid $fm_border_color;
    display: block;
    width: 100%;
    font-size: $fm_font_size;
    line-height: normal;
    height: $fm_input_height;

    // Hide arrow select arrow
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

// Hide arrow select arrow IE 10
select::-ms-expand {
    display: none;
}