// Switcher
$switcher_h: 20px;
$switcher_conteiner_h: 24px;
$switcher_radius: $switcher_conteiner_h/2;
$switcher_full_w: $switcher_conteiner_h * 2;
$fm_switcher_border_w: $fm_input_border_w;

@if $switcher_conteiner_h < $switcher_h {
    $switcher_full_w: $switcher_h * 2;
    $switcher_radius: $switcher_h/2;
}

.fm-switcher {
    display: none;

    &:checked {
        & + .fm-placeholder-switcher {
            &:before {
                left: #{$switcher_full_w / 2};
            }
        }
    }

    // Disabled
    &[disabled] {
        & + .fm-placeholder-switcher {
            cursor: not-allowed;

            &:before {
                background-color: $fm_input_disabled_border_color;
            }
            &:after {
                background-color: $fm_input_disabled_bg;
                border-color: $fm_input_disabled_border_color;
            }
        }
    }
}

.fm-placeholder-switcher {
    padding-left: #{$switcher_full_w + 5px};

    // 4px additioan padding
    cursor: pointer;
    line-height: $switcher_conteiner_h;

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        width: $switcher_h;
        height: $switcher_h;
        margin-top: #{-$switcher_h / 2};
        margin-left: #{($switcher_conteiner_h - $switcher_h) / 2};
        background-color: $fm_active_color;
        z-index: 2;

        @include transition(all 0.2s ease-in-out);

        border-radius: $switcher_radius;
    }

    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        width: $switcher_full_w;
        height: $switcher_conteiner_h;
        margin-top: #{-$switcher_conteiner_h / 2};
        background-color: $fm_input_bg;
        z-index: 1;
        border-radius: $switcher_radius;
        border: $fm_switcher_border_w solid $fm_border_color;
    }
}