%h3#checkbox
  Checkbox
.fm-form-row
  .fm-form-control
    %input.fm-checkbox{:type => "checkbox", :id => "checbox_id"}/
    %label.fm-placeholder-checkbox{"for"=>"checbox_id"}
      Checkbox
  .fm-form-control
    %input.fm-checkbox{:type => "checkbox", :id => "checbox_id2", :disabled => "disabled"}/
    %label.fm-placeholder-checkbox{"for"=>"checbox_id2"}
      Checkbox