%h3#disabled
  Diabled
.fm-form-row
  .fm-form-control
    %input.fm-input{:type => "text", :disabled => "disabled"}/
    %span.fm-placeholder
      Placeholder
.fm-form-row
  .fm-form-control
    %textarea.fm-input{:name => "", :cols => "30", :rows => "4", :disabled => "disabled"}
    %span.fm-placeholder
      Placeholder