%h3#input
  Inputs
.fm-form-row
  .fm-form-control.fm-ico-wrap
    %input.fm-input{:type => "text"}/
    %span.fm-placeholder
      Placeholder
    %span.fm-ico
      %i.ion-android-person
/ Errors
.fm-form-row
  .fm-form-control.fm-ico-wrap
    %input.fm-input.fm-invalid{:type => "text"}/
    %span.fm-placeholder
      Placeholder
.fm-form-row
  .fm-form-control.fm-ico-wrap
    %input.fm-input.fm-valid{:type => "text"}/
    %span.fm-placeholder
      Placeholder
.fm-form-row
  .fm-form-control
    %input.fm-input{:type => "text"}/
    %span.fm-placeholder
      Placeholder