%h3#select
  Select
.fm-form-row
  .fm-form-control
    .fm-select-wrap
      %select.fm-select
        %option{:value => "option1"} Option 1
        %option{:value => "option2"} Option 2
        %option{:value => "option3"} Option 3
        %option{:value => "option4"} Option 4