%h3#switcher
  Switcher
.fm-form-row
  .fm-form-control
    %input.fm-switcher{:type => "checkbox", :id => "switcher_id"}/
    %label.fm-placeholder-switcher{"for"=>"switcher_id"}
      Switcher
  .fm-form-control
    %input.fm-switcher{:type => "checkbox", :id => "switcher_id2", :disabled => "disabled"}/
    %label.fm-placeholder-switcher{"for"=>"switcher_id2"}
      Switcher