%h3#switcher
  Switcher
.fm-container
  .fm-form-row
    .fm-form-control
      %input.fm-switcher{:type => "checkbox", :id => "switcher_id"}/
      %label.fm-placeholder-switcher{"for"=>"switcher_id"}
        Switcher
    .fm-form-control
      %input.fm-switcher{:type => "checkbox", :id => "switcher_id2", :disabled => "disabled"}/
      %label.fm-placeholder-switcher{"for"=>"switcher_id2"}
        Switcher

%pre
  %code.language-html
    :preserve
      &lt;div class='fm-form-control'&gt;
        &lt;input class='fm-switcher' id='switcher_id' type='checkbox'&gt;
        &lt;label class='fm-placeholder-switcher' for='switcher_id'&gt;
          Switcher
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class='fm-form-control'&gt;
        &lt;input class='fm-switcher' disabled='disabled' id='switcher_id2' type='checkbox'&gt;
        &lt;label class='fm-placeholder-switcher' for='switcher_id2'&gt;
          Switcher
        &lt;/label&gt;
      &lt;/div&gt;