%h3#textarea
  Textarea
.fm-form-row
  .fm-form-control
    %textarea.fm-input{:name => "", :cols => "30", :rows => "4"}
    %span.fm-placeholder
      Placeholder
.fm-form-row.fm-ico-wrap
  .fm-form-control
    %textarea.fm-input{:name => "", :cols => "30", :rows => "4"}
    %span.fm-placeholder
      Placeholder
    %span.fm-ico
      %i.ion-android-mail