@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);
body {
  font-family: 'PT Sans', sans-serif;
  color: #2c3e50;
  font-size: 16px;
  line-height: 1.2;
}

.logo {
  position: relative;
}
.logo .beta {
  font-size: 45%;
  font-weight: 100;
  letter-spacing: 0.01em;
  opacity: 0.67;
  vertical-align: top;
}

hr {
  border-bottom: 0;
  border-top: 1px solid #e6e9ea;
}

*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fm-form-control {
  position: relative;
  margin-top: 25.2px;
  margin-bottom: 25.2px;
}

.fm-input {
  display: inline-block;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  padding: 10px 15px;
  box-shadow: none;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}
.fm-input:invalid {
  border-color: #c0392b;
}
.fm-input:focus {
  border-color: #2980b9;
}
.fm-input:focus + .fm-placeholder {
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80%;
}
.fm-input.fm-warning {
  border-color: #c0392b;
}
.fm-input.fm-invalid {
  border-color: #c0392b;
}
.fm-input.fm-valid {
  border-color: #27ae60;
}
.fm-input[disabled] {
  background-color: #eaeded;
  cursor: not-allowed;
  border-color: #cbd0d3;
}
.fm-input[disabled] + .fm-placeholder {
  opacity: 0.5;
}

.fm-placeholder {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  left: 0;
  bottom: 50%;
  line-height: 18px;
  margin: -9px 15px;
  z-index: 0;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
}

textarea.fm-input + .fm-placeholder {
  bottom: 100%;
  margin-bottom: -30px;
}

.fm-radio-wrap {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

.fm-radio {
  display: none;
}
.fm-radio:checked + .fm-placeholder-radio:before {
  opacity: 1;
  visibility: visible;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.fm-radio[disabled] + .fm-placeholder-radio {
  cursor: not-allowed;
}
.fm-radio[disabled] + .fm-placeholder-radio:before {
  background-color: #cbd0d3;
}
.fm-radio[disabled] + .fm-placeholder-radio:after {
  background-color: #eaeded;
  border-color: #cbd0d3;
}

.fm-placeholder-radio {
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
}
.fm-placeholder-radio:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: 4px;
  border-radius: 3px;
  border-radius: 50%;
  background-color: #2980b9;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.fm-placeholder-radio:after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border: 2px solid #bdc3c7;
  border-radius: 3px;
  border-radius: 50%;
  z-index: 1;
  background-color: #ffffff;
}

.fm-checkbox {
  display: none;
}
.fm-checkbox:checked + .fm-placeholder-checkbox:before {
  opacity: 1;
  visibility: visible;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.fm-checkbox[disabled] + .fm-placeholder-checkbox {
  cursor: not-allowed;
}
.fm-checkbox[disabled] + .fm-placeholder-checkbox:before {
  background-color: #cbd0d3;
}
.fm-checkbox[disabled] + .fm-placeholder-checkbox:after {
  background-color: #eaeded;
  border-color: #cbd0d3;
}

.fm-placeholder-checkbox {
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
}
.fm-placeholder-checkbox:before {
  position: absolute;
  content: '\2713';
  left: 0;
  top: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  line-height: 16px;
  border: 2px solid transparent;
  margin-left: 0;
  visibility: hidden;
  z-index: 2;
  opacity: 0;
  color: #2980b9;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fm-placeholder-checkbox:after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border: 2px solid #bdc3c7;
  border-radius: 3px;
  background-color: #ffffff;
  z-index: 1;
}

.fm-select-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
  display: block;
}
.fm-select-wrap:before {
  position: absolute;
  right: 0;
  top: 50%;
  width: 10%;
  pointer-events: none;
  content: '';
  bottom: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #2980b9 transparent transparent transparent;
  margin: -3px 15px;
}
.fm-select-wrap:after {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 25px;
  width: 20%;
  pointer-events: none;
  content: '';
  bottom: 0;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 6px;
  margin: 2px;
}

.fm-select {
  border-radius: 6px;
  padding: 8px 30px 8px 15px;
  box-shadow: none;
  border: 0;
  outline: none;
  border: 2px solid #bdc3c7;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select::-ms-expand {
  display: none;
}

.fm-button {
  border: 0;
  background-color: #2980b9;
  padding: 10px 15px;
  box-shadow: none;
  display: inline-block;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  font-size: inherit;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 2px solid #2980b9;
  font-size: 14px;
  line-height: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fm-button:hover {
  border-color: #20638f;
  background-color: #20638f;
}

.fm-switcher {
  display: none;
}
.fm-switcher:checked + .fm-placeholder-switcher:before {
  left: 24px;
}
.fm-switcher[disabled] + .fm-placeholder-switcher {
  cursor: not-allowed;
}
.fm-switcher[disabled] + .fm-placeholder-switcher:before {
  background-color: #cbd0d3;
}
.fm-switcher[disabled] + .fm-placeholder-switcher:after {
  background-color: #eaeded;
  border-color: #cbd0d3;
}

.fm-placeholder-switcher {
  padding-left: 53px;
  cursor: pointer;
  line-height: 24px;
}
.fm-placeholder-switcher:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 2px;
  background-color: #2980b9;
  z-index: 2;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 12px;
}
.fm-placeholder-switcher:after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 48px;
  height: 24px;
  margin-top: -12px;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 12px;
  border: 2px solid #bdc3c7;
}

.fm-progress-bar {
  position: relative;
  background-color: #ffffff;
  display: block;
  height: 20px;
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid #bdc3c7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fm-progress-bar .fm-progress-bar-line {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 0;
  background-color: #2980b9;
  z-index: 1;
  -moz-transition: width 0.1s ease-in-out;
  -o-transition: width 0.1s ease-in-out;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

.fm-ico-wrap .fm-input {
  padding-right: 30px;
}

.fm-ico {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 40px;
  margin: 0 15px;
  pointer-events: none;
  z-index: 1;
  opacity: 0.5;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.fm-input:focus ~ .fm-ico {
  opacity: 0.2;
}

.fm-container {
  width: 320px;
  margin: 0 auto;
}

.fm-full-width {
  display: block;
  width: 100%;
}

.fm-inline {
  display: inline-block;
}
