<!DOCTYPE html>
%html
  %head
    <meta charset="utf-8">
    <title>ForMe - css form framework</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    // icons http://ionicons.com/
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css">

  %body
    .fm-container
      %h1
        ForMe
      %form.fm-form
        .fm-form-row
          .fm-form-control.fm-ico-wrap
            %input.fm-input{:type => "text"}/
            %span.fm-placeholder
              Placeholder
            %span.fm-ico
              %i.ion-android-person
        / Errors
        .fm-form-row
          .fm-form-control.fm-ico-wrap
            %input.fm-input.fm-invalid{:type => "text"}/
            %span.fm-placeholder
              Placeholder
        .fm-form-row
          .fm-form-control.fm-ico-wrap
            %input.fm-input.fm-valid{:type => "text"}/
            %span.fm-placeholder
              Placeholder
        .fm-form-row
          .fm-form-control
            %input.fm-input{:type => "text"}/
            %span.fm-placeholder
              Placeholder
        .fm-form-row
          .fm-form-control
            %textarea.fm-input{:name => "", :cols => "30", :rows => "4"}
            %span.fm-placeholder
              Placeholder
        .fm-form-row.fm-ico-wrap
          .fm-form-control
            %textarea.fm-input{:name => "", :cols => "30", :rows => "4"}
            %span.fm-placeholder
              Placeholder
            %span.fm-ico
              %i.ion-android-mail
        .fm-form-row
          .fm-form-control
            %input.fm-button{:type => "submit", :value => "Submit"}/
        .fm-form-row
          .fm-form-control
            %input.fm-checkbox{:type => "checkbox", :id => "checbox_id"}/
            %label.fm-placeholder-checkbox{"for"=>"checbox_id"}
              Checkbox
        .fm-form-row
          .fm-form-control
            .fm-radio-wrap
              %input.fm-radio{:checked => "checked", :name => "fm_radio", :id => "fm_radio1", :type => "radio", :value => "radio1"}/
              %label.fm-placeholder-radio{"for"=>"fm_radio1"}
                Radio 1
            .fm-radio-wrap
              %input.fm-radio{:checked => "checked", :name => "fm_radio", :id => "fm_radio2", :type => "radio", :value => "radio2"}/
              %label.fm-placeholder-radio{"for"=>"fm_radio2"}
                Radio 2
            .fm-radio-wrap
              %input.fm-radio{:checked => "checked", :name => "fm_radio", :id => "fm_radio3", :type => "radio", :value => "radio3"}/
              %label.fm-placeholder-radio{"for"=>"fm_radio3"}
                Radio 3
        .fm-form-row
          .fm-form-control
            .fm-select-wrap
              %select.fm-select
                %option{:value => "option1"} Option 1
                %option{:value => "option2"} Option 2
                %option{:value => "option3"} Option 3
                %option{:value => "option4"} Option 4
        .fm-form-row
          .fm-form-control
            %input.fm-switcher{:type => "checkbox", :id => "switcher_id"}/
            %label.fm-placeholder-switcher{"for"=>"switcher_id"}
              Switcher
        .fm-form-row
        .fm-form-control
          .fm-progress-bar
            .fm-progress-bar-line{:style => "width:70%"}