@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);

body {
    font-family: 'PT Sans', sans-serif;
    color: #2c3e50;
    font-size: 16px;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

.logo {
  position: relative;
  .beta {
    font-size: 45%;
    font-weight: 100;
    letter-spacing: 0.01em;
    opacity: 0.67;
    vertical-align: top;
  }
}

hr {
  border-bottom: 0;
  border-top: 1px solid lighten($fm_border_color, 15%);
}