@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);

body {
    font-family: 'PT Sans', sans-serif;
    color: #2c3e50;
    font-size: 16px;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

.logo {
  position: relative;
  .beta {
    font-size: 45%;
    font-weight: 100;
    letter-spacing: 0.01em;
    opacity: 0.67;
    vertical-align: top;
  }
}

hr {
  border-bottom: 0;
  border-top: 1px solid lighten($fm_border_color, 15%);
}

a {
  color: $fm_active_color;
  text-decoration: none;
  @include transition(color 0.1s ease-in-out);
  &:hover {
    color: #000;
  }
}

.header-nav-secondary {
  position: fixed;
  right: 0;
  top: 0;
  margin: 5px 30px;
  z-index: 111;
  i {
    font-size: 32px;
  }
}


.nav {
  // list-style: none;
  padding: 0 0 0 20px;
  margin: 0 0 20px;
  li {
    // display: block;
    margin: 4px 0 5px;
  }
}


.container {
  display: block;
  width: 800px;
  margin: 0 auto;
}


pre + hr {
  margin-top: 20px;
}

.footer {
  // background-color: #ebebeb;
  margin: 30px 0 0;
  padding: 15px 0 20px;
  text-align: center;
  font-size: 13px;
}


.navbar {
  ul {
    list-style: none;
    padding: 0;
    margin: 0px -10px 0px;
    li {
      display: inline-block;
      a {
        display: block;
        font-size: 16px;
        padding: 5px 16px;
        color: $fm_active_color;
        &.action {
          border: 1px solid $fm_active_color;
          @include border-radius(2px);
          &:hover {
            color: #fff;
            border-color: darken($fm_active_color, 10%);
            background-color: darken($fm_active_color, 10%);
          }
        }
      }
    }
  }
}

.page-main {
  padding: 60px 0 0;
}

.page-header {
  // background-color: $fm_active_color;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  overflow: hidden;
  color: $fm_active_color;
  width: 100%;
  top: 0;
  .logo {
    float: left;
    font-size: 23px;
    margin: 15px 0;
    line-height: 1;
  }
  .navbar {
    margin: 10px 0;
    float: right;
  }
}