@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);

body {
    font-family: 'PT Sans', sans-serif;
    color: #2c3e50;
    font-size: 16px;
}