@import "compass/css3";
// Config
$fm_input_padding_vertical: 10px;
$fm_input_padding_horizontal: 15px;

$fm_select_padding_vertical: $fm_input_padding_vertical - 2px;
$fm_select_padding_horizontal: 15px;

$fm_placeholder_height: 18px;
$fm_input_height: 40px;

$fm_radius: 6px;

$fm_input_border_w: 2px;

// Colors
$fm_active_color: #2980b9;
$fm_border_color: #bdc3c7;
$fm_input_bg: #ffffff;
$fm_btn_color: #ffffff;