@import "compass/css3";

// Config
$fm_input_padding_vertical: 10px;
$fm_input_padding_horizontal: 15px;

$fm_select_padding_vertical: $fm_input_padding_vertical - 2px;
$fm_select_padding_horizontal: 15px;

$fm_placeholder_height: 18px;

$fm_radius: 6px;

$fm_input_border_w: 2px;

// Colors
$fm_active_color: #2980b9;
$fm_border_color: #bdc3c7;
$fm_input_bg: #ffffff;
$fm_input_disabled_bg: #eaeded;
$fm_input_disabled_border_color: lighten($fm_border_color, 5%);
$fm_btn_color: #ffffff;
$fm_switcher_bg_dot: $fm_active_color;
$fm_switcher_bg_active: lighten($fm_active_color, 30%);

$fm_font_size: 14px;
$fm_font_line_h: 18px;

$fm_input_height: $fm_input_padding_vertical * 2 + $fm_font_line_h + $fm_input_border_w * 2;
$fm_color_error: #c0392b;
$fm_color_warning: #c0392b;
$fm_color_ok: #27ae60;